<script src="~/lib/chart/chart.js"></script>

<div class="row">
    <div class="col-md-6">
        <canvas id="orderStatusChart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="pieChartCanvas"></canvas>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            drawPieChart();
            $.ajax({
                url: '/api/statistics/OrderStatusCounts',
                type: 'GET',
                success: function (response) {
                    var ctx = document.getElementById('orderStatusChart').getContext('2d');
                    var barChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: Object.keys(response),
                            datasets: [{
                                label: '# of Votes',
                                data: Object.values(response),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });

            drawPieChart();
            
        });

        async function fetchData(url) {
            try {
                const response = await fetch(url);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        let pieChart = null;

        async function drawPieChart() {
            const productsAvailable = await fetchData('/api/statistics/ProductsAvailable');
            const productsNotAvailable = await fetchData('/api/statistics/ProductsNotAvailable');

            const ctx = document.getElementById('pieChartCanvas').getContext('2d');

            if (pieChart) {
                pieChart.destroy();
            }

            pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Products Available', 'Products Not Available'],
                    datasets: [{
                        label: 'Product Availability',
                        data: [productsAvailable, productsNotAvailable],
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)'
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false
                }
            });
        }



    </script>
}


                            @*
                                var ctx = document.getElementById('orderStatusChart').getContext('2d');
                    var orderStatusChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                            labels: Object.keys(response),
                            datasets: [{
                                label: 'Order Status Counts',
                                data: Object.values(response),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false
                        }
                    });
                            *@